<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{ wp_head }}
</head>
<body>
  <div class="page">

    <header class="page__header">
    {% block page__header %}
      {% include 'template-parts/nav.twig' %}
    {% endblock %}
    </header>

    {% block page__title %}
    <h1 class="page__title">{{ site.name }}</h1>
    {% endblock %}

    <main class="page__main">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  {{ wp_footer }}
</body>
</html>