<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{ wp_head }}
</head>
<body>
  <div class="page">

    {# Site Header #}
    <header class="page__header">
    {% block header %}
      {% include 'views/partials/nav.twig' %}
    {% endblock %}
    </header>

    {# Site Title #}
    <h1 class="page__title">
    {% block title %}
      {{ site.title }}
    {% endblock %}
    </h1>

    {# Site main content #}
    <main class="page__main">
      {% block content %}{% endblock %}
    </main>

    <footer class="page__footer">
    {% block footer %}
      {# Social Nav loop #}
      <nav class="social">
      {% for item in menu_social.get_items %}
        <a href="{{ item.link }}" class="social__item">{{ item.title }}</a>
      {% endfor %}
      </nav>
    {% endblock %}
    </footer>
  </div>

  {{ wp_footer }}
  {% block scripts %}
  <script>
  WebFont.load({
    google: {
      families: [ 'Work Sans:300,400,700' ]
    }
  });
  </script>
  {% endblock %}
</body>
</html>