<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {{ wp_head }}
</head>
<body>
  <div class="page">

    <header class="page__header">
    {% block header %}
      {% include 'template-parts/nav.twig' %}
    {% endblock %}
    </header>

    <h1 class="page__title">
    {% block title %}
      {{ site.name }}
    {% endblock %}
    </h1>

    <main class="page__main">
      {% block content %}{% endblock %}
    </main>

    <aside class="page__sidebar">
    {% block sidebar %}
    {% endblock %}
    </aside>
  </div>

  {{ wp_footer }}
</body>
</html>