<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  {# Set Styles #}
  <style>
  .hero::before
  {
    background-image: url( {{ TimberImage( post.get_field('hero__image') ).src }} );
  }
  </style>

  {# Per-Page Styles #}
  {% block inline_styles %}
  <style></style>
  {% endblock %}

  {{ wp_head }}
</head>
<body>
  <div class="page">

    {# Site Header #}
    {% block header %}
    <header class="hero">
      {# Site Navigation #}
      {% block nav %}
      {% include 'views/partials/nav.twig' %}
      {% endblock %}

      {# Site Title #}
      {% block title %}
      <h1 class="hero__title">
        {{ site.title }}
      </h1>
      {% endblock %}

      <div class="hero__background"></div>
    </header>
    {% endblock %}

    {# Site main content #}
    <main class="page__main">
      {% block content %}{% endblock %}
    </main>

    <footer class="page__footer">
      {# Social Nav loop #}
      {% block social %}
      <nav class="social">
      {% for item in menu_social.get_items %}
        <a href="{{ item.link }}" class="social__item">{{ item.title }}</a>
      {% endfor %}
      </nav>
      {% endblock %}
    </footer>
  </div>

  {{ wp_footer }}
  {% block scripts %}
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="{{ theme.path() }}/js/scripts.js"></script>
  <script>
  WebFont.load({
    google: {
      families: [ 'Work Sans:300,400,700' ]
    }
  });
  </script>
  {% endblock %}
</body>
</html>