{% extends 'views/base.twig' %}


{% block title %}
<h1 class="hero__title">{{ post.hero__intro }}</h1>
{% endblock %}

{% block content %}
{# Teaching #}
<section class="home-section">
  <span class="home-section__icon fa fa-graduation-cap fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.teaching__title }}</h2>
  <p class="home-section__content">{{ post.teaching__content }}</p>
</section>

{# Work #}
<section class="home-section js-songs">
  <span class="home-section__icon fa fa-suitcase fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.work__title }}</h2>
  <p class="home-section__content">{{ post.work__intro }}</p>

  {% for song in post.get_field( 'work__songs' ) %}
  <article class="song">
    <img class="song__image" src="{{ song.cover_art }}">

    <audio class="song__audio js-audio">
    {% for source in song.audio_files %}
      <source src="{{ source.file.url }}" type="{{ source.file.mime_type }}">
    {% endfor %}
    </audio>

    <div class="song__controls js-controls">
      <button class="song__button js-playpause fa fa-play fa-2x"></button>
      <div class="song__progress js-progress">
        <div class="song__tracker js-tracker"></div>
        <button class="song__scrubber js-scrubber fa fa-circle"></button>
      </div>
    </div>
  </article>
  {% endfor %}
</section>

{# Contact #}
<section class="home-section">
  <span class="home-section__icon fa fa-envelope-open fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.contact__title }}</h2>
  <p class="home-section__content home-section__content--contact">{{ post.contact__intro }}</p>

  <a class="home-section__button" href="mailto:{{ post.contact__email }}">{{ post.contact__button_text }}</a>
</section>

{% endblock %}