{% extends 'views/base.twig' %}


{% block title %}
<h1 class="page__title" id="about">{{ post.page__intro }}</h1>
{% endblock %}

{% block content %}
{# Teaching #}
<section class="home-section" id="teaching">
  <h2 class="home-section__title">{{ post.teaching__title }}</h2>

  <div class="home-section__content">
    {{ post.get_field( 'teaching__content' ) }}
  </div>
</section>

{# Work #}
<section class="home-section" id="work">
  <h2 class="home-section__title">{{ post.work__title }}</h2>
</section>

{# Contact #}
<section class="home-section" id="contact">
  <h2 class="home-section__title">{{ post.contact__title }}</h2>
</section>
{% endblock %}