{% extends 'views/base.twig' %}


{% block title %}
<h1 class="hero__title">{{ post.hero__intro }}</h1>
{% endblock %}

{% block content %}
{# Teaching #}
<section class="home-section">
  <span class="home-section__icon fa fa-graduation-cap fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.teaching__title }}</h2>
  <p class="home-section__content">{{ post.teaching__content }}</p>
</section>

{# Work #}
<section class="home-section js-songs">
  <span class="home-section__icon fa fa-suitcase fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.work__title }}</h2>
  <p class="home-section__content">{{ post.work__intro }}</p>

  {% for song in post.get_field( 'work__songs' ) %}
  <article class="song">
    <div class="song__cover-art" style="background-image: url( {{ TimberImage(song.cover_art).src }} );"></div>

    {# Content #}
    <div class="song__content">

      <header class="song__header">
        <h3 class="song__header-title">{{ song.title }}</h3>
        <p class="song__meta">
          <em class="song__header-album">{{ song.album }}</em>,
          <time class="song__header-date" datetime="{{ song.release_date }}">{{ song.release_date }}</time>
        </p>
      </header>

      <audio class="song__audio js-audio">
      {% for source in song.audio_files %}
        <source src="{{ source.file.url }}" type="{{ source.file.mime_type }}">
      {% endfor %}
      </audio>

      {# Controls #}
      <div class="song__controls js-controls">
        {# Progress Bar #}
        <div class="song__progress js-progress">
          <div class="song__tracker js-tracker"></div>
          <input class="song__slider js-slider" type="range" min="0" max="100" value="0">
        </div>

        {# Play/Pause Button #}
        <button class="song__button js-playpause fa fa-play fa-2x"></button>

        {# Volume Control #}
        <div class="song__volume js-volume">
          <span class="song__volume-icon fa fa-volume-down fa-2x"></span>
          <div class="song__volume-tracker js-volume-tracker"></div>
          <input class="song__volume-slider js-volume-slider" type="range" min="0" max="1" step="0.01" value="0.10">
        </div>
      </div>
      {# Controls END #}
    </div>
    {# Content END #}
  </article>
  {% endfor %}
</section>

{# Contact #}
<section class="home-section">
  <span class="home-section__icon fa fa-envelope-open fa-2x" aria-hidden="true"></span>
  <h2 class="home-section__title">{{ post.contact__title }}</h2>
  <p class="home-section__content home-section__content--contact">{{ post.contact__intro }}</p>

  <a class="home-section__button" href="mailto:{{ post.contact__email }}">{{ post.contact__button_text }}</a>
</section>

{% endblock %}